version: 1.1.1-{build}
build:
  verbosity: minimal
configuration:
- Debug
- Release
platform: Any CPU
environment:
  image: Visual Studio 2017
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
init:
- ps: $Env:VERSION_SUFFIX = "CI" + $Env:APPVEYOR_BUILD_NUMBER.PadLeft(5, "0")
before_build:
- appveyor-retry dotnet restore -v Minimal
build_script:
- dotnet build "src\StevenVolckaert.Core" -c %CONFIGURATION% --version-suffix %VERSION_SUFFIX%
test_script:
- dotnet test "test\StevenVolckaert.Core.Tests\StevenVolckaert.Core.Tests.csproj" -c %CONFIGURATION%
cache:
- '%USERPROFILE%\.nuget\packages'
